.hidden {
  display: none;
}

.blocoCentralizado {
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  box-shadow: black 0.3rem 0.3rem 0.3rem;
}

.alinhamentoInput {
  display: flex;
  flex-direction: row;
}

body {
  margin: 150px 0 0 350px;
}

input[type="text"] {
  border-radius: 40px 0px 0px 40px;
  font-family: "Times New Roman", Times, serif;
  height: 30px;
  width: 300px;
}

input[type="submit"] {
  border-radius: 0px 40px 40px 0px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(122, 240, 210);
  width: 100px;
  cursor: pointer;
  font-weight: bold;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: -1px -1px 0px black, -1px 1px 0px black, 1px -1px 0px black,
    1px 0px 0px black;
}
